.navigation-icons {
  a:hover {
    color: $secondary-color;
  }
}

.box {
  width: 100%;
  text-align: center;
  background: $white;
  margin: 0;
  height: 18em;
  border-bottom: 1px solid $secondary-color;
  i {
    color: $primary-color;
    font-size: 6em;
    border-bottom: 4px solid $primary-color;
    padding: 0.3em 5% 0.3em 5%;
  }
  h3 {
    color: $primary-color;
    font-size: 1.4em;
    font-weight: 500;
    padding-bottom: 0.6em;
  }
  span {
    border-top: 4px solid $white;
    padding: 0.5em 2em 0 2em;
    font-size: 0.7em;
    color: $white;
    display: none;
  }
}

.box:hover {
  background: $primary-color;
  & i {
    color: $white;
    border-bottom: 4px solid $white;
  }
  & h3 {
    color: $white;
  }
  & span {
    display: inline-block;
  }
}

@media screen and (min-width:670px) {
  .box {
    width: 49.9%;
    float: left;
  }
  .box1, .box3, .box5 {
    border-right: $secondary-border;
  }
  .box5, .box6 {
    border-bottom: 0;
  }
  main::after {
    content:"";
    clear: both;
    display: block;
  }
}

@media screen and (min-width:880px) {
  .box {
    width: 33.15%;
    float: left;
  }
  .box1, .box4 {
    border-right: $secondary-border;
  }
  .box1, .box2, .box3 {
    border-top: 0;
    border-left: 0;
    border-bottom: $secondary-border;
  }
  .box2, .box5 {
    border-left: 0;
    border-right: 0;
  }
  .box3, .box6 {
    border-left: $secondary-border;
  }
  .box4, .box5, .box6 {
    border-bottom: 0;
  }
}
